numpy
pandas
tensorflow
torch
scikit-learn
seaborn
matplotlib
django
djangorestframework
scikeras
apache-airflow
apache-airflow-providers-snowflake
apache-airflow-providers-apache-kafka
apache-airflow-providers-apache-spark
dbt-core
dbt-snowflake
pyspark
kafka-python
